@import "@gdsc-dju/gds-styles/global.css";
@font-face {
  font-family: 'Google Sans Display';
  src:
      local("Google Sans Display"),
      url('/fonts/GoogleSansDisplay-Regular.woff2') format('woff2'),
      url('/fonts/GoogleSansDisplay-Regular.woff') format('woff'),
      url('/fonts/GoogleSansDisplay-Regular.ttf') format('opentype');
  font-weight: 400;
  font-display: block;
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}  @font-face {
  font-family: 'Google Sans Display';
  src:
      local("Google Sans Display"),
      url('/fonts/GoogleSansDisplay-Medium.woff2') format('woff2'),
      url('/fonts/GoogleSansDisplay-Medium.woff') format('woff'),
      url('/fonts/GoogleSansDisplay-Medium.ttf') format('opentype');
  font-weight: 500;
  font-display: block;
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}  @font-face {
  font-family: 'Google Sans Display';
  src:
      local("Google Sans Display"),
      url('/fonts/GoogleSansDisplay-Bold.woff2') format('woff2'),
      url('/fonts/GoogleSansDisplay-Bold.woff') format('woff'),
      url('/fonts/GoogleSansDisplay-Bold.ttf') format('opentype');
  font-weight: 700;
  font-display: block;
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}
@font-face {
  font-family: 'Pretandard';
  src:
      local('Pretandard'),
      url('/fonts/Pretandard-Regular.woff2') format('woff2'),
      url('/fonts/Pretandard-Regular.woff') format('woff'),
      url('/fonts/Pretandard-Regular.otf') format('opentype');
  font-weight: 400;
  font-display: block;
  unicode-range: U+AC00-U+D7A3;
} @font-face {
  font-family: 'Pretandard';
  src:local('Pretandard'),
  url('/fonts/Pretandard-Medium.woff2') format('woff2'),
  url('/fonts/Pretandard-Medium.woff') format('woff'),
  url('/fonts/Pretandard-Medium.otf') format('opentype');
  font-weight: 500;
  font-display: block;
  unicode-range: U+AC00-U+D7A3;

}
@font-face {
  font-family: 'Pretandard';
  src:local('Pretandard'),
  url('/fonts/Pretandard-SemiBold.woff2') format('woff2'),
  url('/fonts/Pretandard-SemiBold.woff') format('woff'),
  url('/fonts/Pretandard-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-display: block;
  unicode-range: U+AC00-U+D7A3;

}

@font-face {
  font-family: 'Pretandard';
  src:local('Pretandard'),
  url('/fonts/Pretandard-ExtraBold.woff2') format('woff2'),
  url('/fonts/Pretandard-ExtraBold.woff') format('woff'),
  url('/fonts/Pretandard-ExtraBold.otf') format('opentype');
  font-weight: 800;
  font-display: block;
  unicode-range: U+AC00-U+D7A3;
}

* {
  margin: 0;
  word-break: keep-all;
  -webkit-tap-highlight-color: transparent;
  background: var(--background);
  color: var(--grey900);
  transition: color, background-color 0.3s ease-in-out;
  font-family: 'Google Sans Display','Pretandard', sans-serif;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
html {
  background: var(--background);
}
a {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
