.underlineFilter {
    position: absolute;
    bottom: 2px;
    left: 0;
    right: 0;
    height: 40px;
    z-index: -1;
    background: #ECF3FD;
    border-radius: 20px;
}
.selectedFilter{
    color: #4A8EEB !important;
    font-weight: bold;
    transition: 500ms;
}
